
.containeer{
    display:grid;
    grid-template-columns: 300px 300px 200px 80px 220px;
    grid-row-gap: 30px;
    text-align: center;
    padding-left: 70px;
    background-color:none
    
}

.containeer p, .containeer a {
    padding-top:8px;
    font-size: 14px;
}