span{
    
    font-size: 15px;
    font-weight: 300;
}

.icon{
    
    zoom:140%;
    color:#0d2a95
}
.CardPost:hover{
    zoom: 110%;
    
}

.title{
    font-size: 30px;
}

.flexIcons{
    display:flex;
    flex-direction: column
}

#jobDes{
    width:740px;
    overflow-x: auto;
    font-size: 15px;
}