@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Oswald&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Oswald', sans-serif;
}

span{
    
    font-size: 15px;
    font-weight: 300;
}

.icon{
    
    zoom:140%;
    color:#0d2a95
}
.CardPost:hover{
    zoom: 110%;
    
}


.title{
    font-size: 30px;
}

.flexIcons{
    display:flex;
    flex-direction: column
}

#jobDes{
    width:450px;
    overflow-x: hidden;
    font-size: 15px;
}