.contain{
    display:grid;
    grid-template-columns: 300px 300px 200px 100px 220px 150px;
    grid-row-gap: 30px;
    text-align: center;
    padding-left:50px;
}

.oneline{
    display:grid;
    grid-template-columns: 300px 300px 200px 100px 220px ;
    grid-row-gap: 30px;
    text-align: center;
    background-color:#cfd4ea;
    margin-top:50px;
    margin-bottom:15px;
    padding-left:50px;
    padding-bottom:13px

}

.oneline h5{
    font-size:17px;
}

.contain p, .contain a {
    padding-top:8px;
    font-size: 15px;
}

