.mb-3{
    width:240px !important
}

.paragraph{
    font-size: 45px;
    font-weight: bold;
    width:650px;
    text-align: center;
    margin-top: 240px;
    margin-left: 60px;
    color: #0d2a95;
    background-color: white;
    opacity: 0.4;
    border-radius:25px
}

.bckground{
    background-image: url(https://cdn.dribbble.com/users/751212/screenshots/2510592/registerflow_v1r1.gif);
    height:700px;
    overflow-y: auto;
}

